
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&display=swap');

.JogoGeral{
    background-color:#FBF6F0;
    
}

.desconto img{
    width:100px;
    height:100px;

}

.desconto {
    margin-top:5%;
    margin-left:5%;
    position:absolute;
}
.desconto p{
    font-family: "Montserrat";
    font-size:32px;
    font-weight:600;
    color:#FBF6F0;
    position: absolute;   
    top: -1%;            
    left: 18%;
}

.CaixaJogo {
    display:flex;
    margin-left:8%;
    margin-top: 8%;
    margin-bottom:2%
}

.imagemjogo img{
    width: 900px;
    height: 530px;

}

.bannerjogos {
    margin-left:45.7%;
    margin-top:-3.1%;
    display:flex;
    position:absolute;
    gap:8%;

}

.banner1 {
    background-color:#4B626C;
    font-family:"Montserrat";
    color: #FBF6F0;
    font-size: 16px;
    font-weight: 600;
    width:65px;
    height:25px;
    text-align: center;
    border-radius:5px;
    padding-left:3px;
    padding-right:3px;

}

.banner2 {
    background-color:#FCFAFA;
    text-align: center;
    font-family:"Montserrat";
    color: #4B626C;
    font-size: 16px;
    font-weight: 600;
    width:100px;
    height:25px;
    border-radius:5px;
    padding-left:5px;
    padding-right:5px;



}

.banner1 p {
    margin-top:7%

}


.banner2 p {
     margin-top:5%

}


.parteazuljogos{
    background-color:#4B626C;
    width: 29%;
    height: 530px;
    border-top-right-radius:10px;
    border-bottom-right-radius:10px;
    
}


.titulojogos {
    text-align: center;
    font-family:"Montserrat";
    color: #FBF6F0;
    font-size: 32px;
    font-weight: 600;
    
    margin-top:-2%
}

.textojogos {
    width:329px;
    height:290px;
    text-align: center;
    font-family:"Montserrat";
    color: #FBF6F0;
    font-size: 24px;
    font-weight: 200;
    margin-bottom:-2%;
    margin-left:9%;
    margin-top:-1%;

}

.divisoria {
    margin-top:9.5%;
    margin-left:9%;
    margin-bottom:3.2%;
}

.botoesjogos {
    display:flex;
    flex-direction: column;
    
}

.botaojogo1 {
    display:flex;
    margin-left:21%;
    width:58%;
    margin-bottom:1.2%;
    border-radius:5px;
    border: none;
    padding-left:3.2%;
    background-color:#FCFAFA;
    cursor:pointer;
    
}

.botaojogo2 {
    display:flex;
    margin-left:21%;
    width:58%;
    border-radius:5px;
    border: none;
    padding-left:3.2%;
    background-color:#fcfafa79;
    cursor:pointer;
    
    
}

.botaojogo1 p{
    text-align: center;
    font-family:"Montserrat";
    color: #4B626C;
    font-size: 16px;
    font-weight: 500;
    margin-top: 3.5%;
    margin-bottom:2.5%

}
.botaojogo2 p{
    text-align: center;
    font-family:"Montserrat";
    color: #4B626C;
    font-size: 16px;
    font-weight: 500;
    margin-top: 3.5%;
    margin-bottom:2.5%

}

.botaojogo1 img{
    margin-left:8%

}
.botaojogo2 img{
    margin-left:15%
    
}




.carrinhoJogo{
    margin-left:92%;       
    margin-bottom:0.6%;
    cursor:pointer;
}

@media (max-width: 431px) {
    .JogoGeral{
    width:430px;
    height:100px;
    
    
}

.desconto img{
    width:48px;
    height:48px;

}

.desconto {
    margin-top:6%;
    margin-left:6%;
    position:absolute;
}
.desconto p{
    font-size:20px;
    font-weight:600; 
    top: -8px;        
    left: 8%;
}

.CaixaJogo {
    display:flex;
    margin-left:0%;
    margin-top: 12%;
    margin-bottom:2%;
    flex-direction: column;
    align-items:center;

}

.imagemjogo{
    height: 190px;
}

.imagemjogo img{
    width: 322px;
    height: 190px;

}

.bannerjogos {
    margin-left:2%;
    margin-top:-36px;
    

}




.parteazuljogos{
    width: 322px;
    height: 316px;
    border-top-right-radius:0px;
    border-bottom-right-radius:10px;
    border-bottom-left-radius:10px;
    
}


.titulojogos {
    font-size: 16px;
    margin-top:-1%
}

.textojogos {
    text-align: justify;
    width:242px;
    height:136px;
    font-size: 14px;
    margin-bottom:-2%;
    margin-left:40px;
    margin-top:-1%;
    

}

.divisoria {
    margin-top:5%;
    margin-left:0%;
    margin-bottom:3.2%;
}


.botaojogo1 {
    margin-left:14%;
    width: 230px;
    height: 35px;
    margin-bottom:3%;
    padding-left:3.2%;
    padding-right:3.2%;
    
}

.botaojogo2 {
    margin-left:14%;
    width: 230px;
    height: 35px;
    padding-left:3.2%;
    padding-right:3.2%;
    
}

.botaojogo1 img, .botaojogo2 img {
    width:20.9px;
    height:15px;

}

.botaojogo1 p{
    width: 230px;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    

}
.botaojogo2 p{
    width: 230px;
    font-size: 16px;
    font-weight: 500;
    

}

.botaojogo1 img{
    margin-top:5%;
    margin-left:2%;

}
.botaojogo2 img{
    margin-left:9%;
    margin-top:5%;
    
}

.carrinhoJogo img {
    width:48px;
    height:48px;
}


.carrinhoJogo{
    margin-left:86%;       
    margin-bottom:0.6%;
}
    
}
