@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');


.popularesGeral{
    background-color: #FBF6F0;
    height:1684px;
}

.Titulogeral{
    font-family:"Montserrat";
    color: #4B626C;
    font-size: 36px;
    font-weight: 700;
    margin-left: 7%;
    margin-top: 2%;

}

.textinho1, .textinho2, .textinho3 {
    text-align: justify;
    width:50%;
    height:40%;
    font-family:"Montserrat";
    color: #4B626C;
    font-size: 20px;
    font-weight: 300;
   
}

.textinho1{
    margin-left:4%;
    margin-top:-1.5%

}

.textinho2 {
    margin-left:4%;
    margin-top: 1%
    
}

.textinho3 {
    margin-left:4%;
    margin-top: -1.5%


}

.titulo1pop, .titulo2pop, .titulo3pop {
    text-align: center;
    font-family:"Montserrat";
    color: #4B626C;
    font-size: 32px;
    font-weight: 600;
    margin-bottom:-2%

}


.imagem1{
    width:479px;
    height:282px;
    cursor:pointer;

}

.imagem2{
    width:479px;
    height:282px;
    margin-left:4%;
    cursor:pointer;
    
}

.imagem3{
    width:479px;
    height:282px;
    cursor:pointer;

}

.imagem1 img, .imagem2 img, .imagem3 img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.caixapop1, .caixapop2, .caixapop3{
    display:flex;
    width: 95%;
    height: 20%;
    align-items:top;
    z-index:3;
}

.caixapop2{
     margin-left:5%;
     margin-top:2%
}

.caixapop1{
     margin-left: 9%;

}

.caixapop3{
     margin-left: 9%;
     margin-top:1%;
     margin-bottom: 4%

}

.classificacao1 {
    margin-left: 7.4%;
    margin-top: -1%;
    position: absolute;
    z-index:90;

}

.classificacao2 {
    margin-left: 58.5%;
    margin-top: -23%;
    z-index:90;
    position: absolute;

}

.classificacao3 {
    margin-left: 7.4%;
    margin-top: -0.2%;
    position: absolute;
    z-index:90;

}

.classificacao1 p, .classificacao2 p, .classificacao3 p{
    font-family: "Montserrat";
    font-size:24px;
    font-weight:600;
    color:#FBF6F0;
    position: absolute;   
    top: -23%;            
    left: 31%;           
    
}

.carrinhopops {
    margin-left: 91%;
    margin-top: -7%;
    position: absolute;
    z-index:90;
    cursor:pointer;

}

@media (max-width: 431px) {
    .popularesGeral{
    width:430px;
    height:1720px;
}

.Titulogeral{
    font-size: 24px;
    margin-left: 10%;
    margin-top: 2%;

}

.textinho1, .textinho2, .textinho3 {
    text-align: justify;
    width:390px;
    height:250px;
    font-size: 14px;
    position:relative;
   
}

.textinho1{
    margin-left:0%;
    margin-top:-1.5%

}

.textinho2 {
    margin-left:0%;
    margin-top: -1.5%;
    order: 3;
    
}

.textinho3 {
    margin-left:0%;
    margin-top: -1.5%


}

.titulo1pop, .titulo2pop, .titulo3pop {
    font-size: 16px;
    margin-bottom:-2%

}


.imagem1{
    width:322px;
    height:190px;
    margin-left:0%;
    

}

.imagem2{
    width:322px;
    height:190px;
    margin-left:0%;
    margin-top:100px;
    order: 2;

    
}

.imagem3{
    margin-top:-10px;
    width:322px;
    height:190px;
    margin-left:0%;

}

.caixapop1, .caixapop2, .caixapop3{
    display:flex;
    flex-direction: column;
    width: 430px;
    align-items:center;
    position:relative;
}

.caixapop2{
     margin-left:0%;
     margin-top:2%
}

.caixapop1{
    margin-top:3%;
     margin-left: 0%;

}

.caixapop3{
     margin-left: 0%;
     margin-top:41%;
     margin-bottom: 30%

}

.classificacao1 {
    margin-left: 8%;
    margin-top: -3%;

}

.classificacao2 {
    margin-left: 8%;
    margin-top: -60%;

}

.classificacao3 {
    margin-left: 8%;
    margin-top: 35%;


}

.classificacao1 p, .classificacao2 p, .classificacao3 p{
    font-size:20px;
    position: absolute;   
    top: -30%;            
    left: 31%;           
    
}

.classificacao1 img, .classificacao2 img, .classificacao3 img{
    width:38.4px;
    height:38.4px;       
    
}

.carrinhopops {
    margin-left: 85%;
    margin-top: -15%;
    position: absolute;
    z-index:10;
    cursor:pointer;

}
.carrinhopops img {
    width:48px;
    height:48px;
}


}