@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');

.registrarGeral {
  display: flex;
  background: #FBF8F4;
  margin: -8px
}
.registrar{
    margin-top: 64px;
    margin-left: 110px; 
    margin-bottom: 60px;
    font-family: 'Montserrat';
    font-style: normal;
    color: #4B626C;
    font-size: 64px;
    font-weight: 400;
    position: center;
}
.registrarCaixa {
    width: 475px;
    height: 1024px;
    background: #FBF8F4;
    margin-left: 0px;
    margin-right: 60px;
}
.imagemGrande{
    height: 1024px;
    width: 1024px;
    overflow: hidden;
}
.imagemGrande img {
    margin-top: -155px;
    margin-left: -12px;
    width: 115%;
    height: 115%;
    object-fit: cover;
}

.FazerLogin{
    background: #FBF8F4;
    border: 0px solid;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    color: #97A4A2;
    font-size: 24px;
    margin-left: 56px;
    margin-top: 120px;
    cursor: pointer;
}

.setaregistrar{
    width: 40px;
    height: 40px;
    background: #FBF8F4;
    border: 0px solid;
    margin-left: 430px;
    margin-top: -25px;
    cursor: pointer;
}

@media (max-width: 431px) {
    
}