@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');

.registrarGeral {
  display: flex;
  background: #FBF8F4;
}
.registrar{
    margin-top: 64px;
    margin-left: 110px; 
    margin-bottom: 60px;
    font-family: 'Montserrat';
    font-style: normal;
    color: #4B626C;
    font-size: 64px;
    font-weight: 400;
    position: center;
}
.registrarCaixa {
    width: 475px;
    height: 1024px;
    background: #FBF8F4;
    margin-left: 0px;
    margin-right: 60px;
}
.imagemGrandereg{
    height: 1024px;
    width: 1024px;
    overflow: hidden;
}
.imagemGrandereg img {
    margin-top: -155px;
    margin-left: -12px;
    width: 115%;
    height: 115%;
    object-fit: cover;
}

.FazerLogin{
    background: #FBF8F4;
    border: 0px solid;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    color: #97A4A2;
    font-size: 24px;
    margin-left: 56px;
    margin-top: 120px;
    cursor: pointer;
}

.setaregistrar{
    width: 40px;
    height: 40px;
    background: #FBF8F4;
    border: 0px solid;
    margin-left: 430px;
    margin-top: -25px;
    cursor: pointer;
}

@media (max-width: 431px) {
    .registrarGeral {
    display: flex;
    flex-direction: column;
    width:100%;
    max-width: 430px;


    }
    .imagemGrandereg{
    height:100%;
    width:100%;
    overflow: hidden;
    order:1;
    
    }
    .imagemGrandereg img {
    width: 100%;
    height:100%;
    max-width:430px;
    margin-top: -50px;
    margin-left: 0px;
    margin-right: 0px;
    object-fit: cover;
    }

    .registrar{
    margin-top: -20px;
    margin-left: 0%; 
    width:430px;
    text-align:center;
    font-size:32px;
    
    
}
.registrarCaixa {
    max-width: 430px;
    height:auto;
    margin-left: 0px;
    margin-right: 0px;
    margin-top:20px;
    order:2;
}

.setaregistrar{
    margin-top: -9px;
    margin-left:340px;
    margin-right:0px;

}

.inputreg{
    margin-top:-15px;
    margin-bottom:-10px;
    margin-left:10px;
}


.FazerLogin{
    margin-top: 130px;
    margin-bottom: 30px;
    margin-left: 30px;
    font-size:16px;
    text-align: left;
}


    
}