.carrossel2{
    position:relative;
}

.carrossel2-card img {
  width:190px;
  height:250px;
  object-fit: cover;   
  display: block;
  border: none;         
}

.badge-preco {
  position: absolute;
  left: 10px;
  bottom: 10px;
  background: #FCFAFA;
  color: #4B626C;
  font-family:"Montserrat";
  font-weight: 600;
  border-radius: 5px;
  padding: 6px 10px;
  font-size: 12px;;
} 



.carrossel2-swiper {
  padding: 8px 48px; /* espaço para as setas */
}


.carrossel2-img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  
}

.carrossel2 .swiper-button-prev,
.carrossel2 .swiper-button-next {
  opacity: 1 !important;   /* sempre visível */
  visibility: visible !important;
  display: flex !important; /* garante que não sumam */
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  z-index: 10; /* fica por cima do conteúdo */
}

.carrossel2 .swiper-button-prev::after,
.carrossel2 .swiper-button-next::after {
  font-size: 100px;  /* tamanho do ícone da seta */
  color: white;     /* cor da seta */
}

.carrossel2 .swiper-button-prev {
  position: absolute;
  left: 0%;  
  top: 55%;
  transform: translateY(-50%);
  z-index:100
}

.carrossel2 .swiper-button-next {
  position: absolute;
  right: 5%;
  top: 55%;
  transform: translateY(-50%);
  z-index:100
}