@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;&display=swap');

.navbar{
    background-color: #FBF6F0;
    width: 100%;
    height: 100px;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.25);
    z-index: 10;
    position: relative;
    display: flex;
    gap: 2.3%;
    cursor: pointer;
}

.logo{
    width: 99px;
    height: 99px;
    margin-left: 40px;
}

.Buscar{
    margin-top: 2%;
    margin-left: 1%;

}

.buscar:focus {
  outline: none;
}

.buscar{
    padding-left: 6%;
    height: 55%;
    width: 100%;
    border-radius: 15px;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.25);
    border: 0px;
    background-color: #97A4A273;
}

.Links{
    font-family: 'Montserrat';
    font-size: 32px;
    font-weight: 300;
    color: #4B626C;
}

.Linha{
    margin-top: 2%;
}

.lupa{
    margin-top: -18%;
    margin-left: 84%;
}